@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fonts/idroid.otf) format('opentype');
    font-weight: normal;
}
 *{
    margin: 0px;
    padding: 0px;
 }
:root{
    --fonte-android: 'Android', 'coursive', sans-serif;
     --cor0: #c5ebd6; 
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
}
body{
    background-color: #c5ebd6;
}

/*inicio cabecalho*/
header{
    background-color: var(--cor04);
}

header h1{
    color: #ffff;
    font-family: var(--fonte-destaque);
}

header p{
    color: #ffff;
    font-family: var(--fonte-padrao);
}
/*Fim cabecalho*/
main h1{
    font-family: var(--fonte-android);
}

