*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    background-color: wheat;
}
header{
    background-image: linear-gradient(to bottom, wheat, black);
    color: wheat;
    text-align: center;
    font-size: 3.2vh;
    
}
 
header > h1{
    font-variant: small-caps;
    text-shadow: 1px 0.8px blue;
    padding-top: 15px;
}

header p{
    max-width: 200px;
    margin: auto;
}

header a{
color: whitesmoke;
text-decoration: none;
}

header a:hover{
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 2px;
    transition: 0.6s;
    color: black;
    text-decoration: underline;
}

header nav{
    padding-top: 30px;
    text-align: left;
    margin-left: 10px;
    
}

header nav a{
  margin: 3px;
}

main{
    background-color: white;
    max-width: 700px;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
   
}

main h3{
    font-variant: small-caps;
}
main p{
    padding: 15px;
    text-indent: 0.4em;
    line-height: 1.4em;
    text-align: justify;
}

main .image1{
    background-image: url("../image/background001.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    min-height: 280px;
    background-repeat: no-repeat;
   
}

.image1 > p{
    max-width: 200px;
    color: wheat;
    padding: 20px;
    background-color: rgba(185, 125, 46, 0.5);
    min-height: 200px;
    text-shadow: 1px 1px black;
    position: relative;
    top: 20px;
    left: 5px;
}

main .image2 {
    background-image: url("../image/background002.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    min-height: 280px;
    background-repeat: no-repeat;

}

.image2 > p {
    max-width: 200px;
    color: white;
    padding: 20px;
    background-color: rgba(32, 32, 31, 0.151);
    min-height: 200px;
    text-shadow: 1px 1px black;
    position: relative;
    top: 20px;
    left: 5px;
}

#bk{
    background-image: linear-gradient(to bottom, wheat, black);
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    

}

#bk > h4{
background-image: linear-gradient(to top, rgba(41, 40, 38, 0.062), black);
    padding: 5px;
text-align: center;
}

#bk>p{
    padding: 20px;
}

main .image3 {
    background-image: url("../image/img003.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    min-height: 280px;
    background-repeat: no-repeat;

}

.image3>p {
    max-width: 200px;
    color: white;
    padding: 20px;
    background-color: rgba(32, 32, 31, 0.151);
    min-height: 200px;
    text-shadow: 1px 1px black;
    position: relative;
    top: 20px;
    left: 5px;
}

main .image4 {
    background-image: url("../image/img001.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    min-height: 280px;
    background-repeat: no-repeat;

}

.image4>p {
    max-width: 200px;
    color: white;
    padding: 20px;
    background-color: rgba(32, 32, 31, 0.151);
    min-height: 200px;
    text-shadow: 1px 1px black;
    position: relative;
    top: 20px;
    left: 5px;
}

main .image5 {
    background-image: url("../image/img002.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    min-height: 280px;
    background-repeat: no-repeat;

}

.image5>p {
    max-width: 200px;
    color: white;
    padding: 20px;
    background-color: rgba(32, 32, 31, 0.151);
    min-height: 200px;
    text-shadow: 1px 1px black;
    position: relative;
    top: 20px;
    left: 5px;
}



aside h4{
    padding: 10px;
    text-align: center;
}
aside table{

    border-collapse: collapse;
    width: 400px;
    margin: auto
}

aside th, td{
    border: 1px solid black;
    text-align: center;
    font-size: 1.2em;
} 



.table{
    overflow-x: auto;
    background-image: linear-gradient(to bottom, wheat, rgba(0, 0, 0, 0.192));
    padding: 20px;
    border-radius: 8px;
    
}

footer{
    padding: 20px;
    text-align: center;
    color: white;

}